<!DOCTYPE html>
<html lang="en">
<head>
  <title>Communication through Gesture</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
.navbar-default {
    background-color: #069487;
    border-color: #066a77;
	text-align : center !important;
}
.navbar-default .navbar-brand {
    color: #fff;
	
}
.bd{
  box-shadow: 1px 2px 2px;
}
p {
    margin: 0 0 10px;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 17px;
}
</style>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" >
		<a class="navbar-brand" href="#" style="text-align:center">Communication through Gesture</a>
    </div>
  </div>
</nav>
  
  
<div class="container">
  <div class="row">
    <div class="col-sm-6 bd" >
      <h3>Gesture Recognition : </h3>
	  <br>
      <p>Gesture recognition is a type of perceptual computing user interface that allows computers to capture and interpret human gestures as commands. The general definition of gesture recognition is the ability of a computer to understand gestures and execute commands based on those gestures</p>
	  <br>
      <p>The goal of this project is to train a Machine Learning algorithm capable of classifying images of different hand gestures, such as a fist, palm, showing the thumb, and others.</p>
	  <br>
	  <p>
	  In personal computing, gestures are most often used for input commands. Recognizing gestures as input allows computers to be more accessible for the physically-impaired and makes interaction more natural in a gaming or 3-D virtual reality environment
	  </p>
    </div>
    <div class="col-sm-6">
		<img src="https://www.freepngimg.com/thumb/web_design/56725-7-gesture-free-download-png-hd.png" style="height:450px"class="img-rounded" alt="Gesture"> 
    </div>
     
  </div>
</div>

</body>
</html>
